@model List<Tasks>


@if (Model.Any())
{
    <div class=" p-5">
        <div class="accordion" id="accordionExample">
            @foreach (var task in Model.OrderBy(t => t.TaskStatus).ThenBy(t => t.TaskHeader))
            {
                var taskId = $"collapse{task.Id}";

                <div class="accordion-item mt-3">
                    <h2 class="accordion-header">
                        <button style="--bs-bg-opacity: .5;" class="accordion-button collapsed @(task.TaskStatus == 1 ? "bg-danger" : task.TaskStatus == 0 ? "bg-success" : task.TaskStatus == 2 ? "bg-warning" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#@taskId" aria-expanded="false" aria-controls="@taskId">
                            <h4>@task.TaskHeader</h4> <div class=" ms-3 rounded-circle" style="width: 2rem; height: 2rem;"></div>
                        </button>
                    </h2>
                    <div id="@taskId" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>@task.TaskDescription</strong>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container">
        <h2 class="text-center">No task was found !</h2>
    </div>
}